<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" routerLink="."><strong>intersky.mu</strong></a>
            <div class="collapse navbar-collapse" id="Navbar">                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" routerLink=".">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/aboutus">About</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/ajax">Ajax</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contactus">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Intersky Solutions</h1>
                    <p>Our problems are simple: Your Security and Peace of Mind! With more than 10years of experience in the security sector, Intersky Solutions Ltd supplies, maintains and services CCTV, Alarm, Access Control and Fire Alarm systems all over the island.</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="assets/img/logo.png" class="img-fluid">
                </div>
            </div>
        </div>
    </header>
</body>