    <div class="container">
        <div class="row row-content">
           <div class="col-12">
              
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                <h5>Design your Alarm System</h5>
                <div>
                    <p>Choose your Panel:</p>
                    <p>Number of Doors:</p>
                    <p>Number of Windows:</p>
                    <p>Number of Rooms:</p>
                    <p>Number of Remote Control:</p>
                    <p>Other Accessories:</p>
                </div>
                <button>Calculate</button> &#160; <button>Clear</button>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <h5>Total Order</h5>

            </div>

        </div>
    </div>