
<div>
    <div>
        <h2>Our History</h2>
        <p>Established in 2011, Intersky Solutions Ltd is an owner-managed security company specialising in supplying, installing and servicing alarm, CCTV and access control systems.  We are registered as an SME and with the Tourism Authority as an approved security and safety company for tourist accommodations.</p>

        <p>Our clients include the domestic, retail, manufacturing and tourism industries.</p>
    </div>
    <div>
    </div>
</div>


<div>
    <div>
        <h2>Our Vision</h2>
        <h3></h3>
        <p>At Intersky Solutions Ltd, we strive to provide tailor-made solutions for our clients' security needs.  We stand out through the excellent, reliable and professional service we deliver.</p>

        <p>In order to achieve that, we believe in developing a winning team through continuous training, team-building and performance assessment. This will create a team of engineer and technicians that is well-equipped to understand the needs of our clients, generate new ideas and solving problems while optimising the time, cost and quality aspects of any project.</p>

        <p>We also do not compromise on the quality of the products used. That's why we exclusively use products from the best brands worldwide: Dahua and Hikvision for CCTV and Ajax for alarm systems.</p>


        <h3>What We Do</h3>
        <p>Intersky Solutions Ltd provides a complete service to meet specific clients' needs. The range of services offered include the following:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>CCTV and alarm systems installation, servicing and maintenance</li>
          <li><i class="fa-li fa fa-check-square"></i>Rental of CCTV and/or alarm systems on a long-term basis</li>
          <li><i class="fa-li fa fa-check-square"></i>Installation of access control systems and fire alarms</li>
        </ul>


        <h3>Work Experience</h3>
        <p>We have extensive experience working with a range of different clients. Places we have serviced include:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Domestic (houses, apartments, villas, Tourist accomodations...)</li>
          <li><i class="fa-li fa fa-check-square"></i>Retail (restaurants, shops, casinos, pharmacies, supermarkets...)</li>
          <li><i class="fa-li fa fa-check-square"></i>Education sector (schools, colleges, universities...)</li>
          <li><i class="fa-li fa fa-check-square"></i>Manufacturing and printing sectors</li>
          <li><i class="fa-li fa fa-check-square"></i>Warehouses and distribution sectors</li>
          <li><i class="fa-li fa fa-check-square"></i>Offices</li>
        </ul>
    </div>
</div>