<body>
  <div class="container"> 

    <div class="row row-content align-items-center">
      <div class="col-12 col-sm-4 col-md-3">
        <h3>This Month's Promotions</h3>
        <div class="col">
          <img src="assets/img/ranger2.png" class="img-fluid">
        </div>
      </div>
      <div class="col col-sm col-md">
        <h2>IMOU Ranger2</h2>
        <h4>360° Coverage with AI Human Detection and Privacy Mode</h4>
        <p>Human Detection | 1080P | 360° Coverage | Built-in Siren | Smart Tracking | Privacy Mode | Abnormal Sound Alarm | Night Vision | Two-way Talk | Cloud</p>
        <h6>Price Rs2,900.00</h6>
      </div>
    </div>
    <div class="row row-content align-items-center">
      <div class="col-12 col-sm-4 order-sm-last col-md-3">
          <h3>Our Brands</h3>
          <p>Some of the world leading brands we are working with.</p>
      </div>
      <div class="col col-sm order-sm-first col-md">
          <div class="row">
            <div class="col">
              <a href="http://www.hikvision.com"><img src="assets/img/hikvision.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.dahua.com"><img src="assets/img/dahua.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.ajaxsecurity.com"><img src="assets/img/ajax.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.ezviz.com"><img src="assets/img/EZVIZ_logo.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.visonic.com"><img src="assets/img/visonic.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.imou.com"><img src="assets/img/imou.png" class="img-fluid" height="180" width="70"></a>
            </div>
            <div class="col">
              <a href="http://www.dsc.com"><img src="assets/img/dsc.gif" class="img-fluid" height="180" width="70"></a>
            </div>
          </div>
      </div>
    </div>
    <div class="row row-content align-items-center">
      <div class="col-12 col-sm-4 order-sm-last col-md-3">
        <h3>Meet our Security Specialists</h3>
      </div>
      <div class="col col-sm order-sm-first col-md">
        <h2>Support Team</h2>
        <h4>Engineer and Technicians</h4>
        <p>Our team of engineer and technicians are fully trained in Dahua and Hikvision products and have over 10 years of experience! </p>
      </div>
    </div>
</div>
</body>