    <div class="container">
        <div class="row row-content">
           <div class="col-12">
              
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              56 Bernardin de St Pierre<br>
		              Quatre Bornes<br>
		              MAURITIUS<br>
		              <i class="fa fa-phone"></i>: +230 54998899<br>
		              <i class="fa fa-envelope"></i>:
                      <a href="mailto:intersky@intnet.mu">intersky@intnet.mu</a>
		           </address>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" href="tel:+23054998899"><i class="fa fa-phone"></i> Call</a>
                        <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                        <a role="button" class="btn btn-success" href="mailto:intersky@intnet.mu"><i class="fa fa-envelope-o"></i> Email</a>
                    </div>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <h5>Map of our Location</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.8853245568434!2d57.47015431428571!3d-20.263590154000536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c5b64b58265e5%3A0x1a66bd464b4d49ab!2sIntersky%20Solutions%20Ltd!5e0!3m2!1sen!2smu!4v1652700404300!5m2!1sen!2smu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>