    <div class="container">
        <div class="row row-content">
           <div class="col-12">
              <h3>Location Information</h3>
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              56 Bernardin de St Pierre<br>
		              Quatre Bornes<br>
		              MAURITIUS<br>
		              <i class="fa fa-phone"></i>: +230 54998899<br>
		              <i class="fa fa-envelope"></i>:
                      <a href="mailto:intersky@intnet.mu">intersky@intnet.mu</a>
		           </address>
            </div>
            <div class="col-12 col-sm-6 offset-sm-1">
                <h5>Map of our Location</h5>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+23054998899"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:intersky@intnet.mu"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
        </div>